language: ruby
cache: bundler
services: redis

jdk:
  - oraclejdk7

rvm:
  - 1.9.3
  - 2.0.0
  - rbx-19mode
  - jruby-19mode
  - ruby-head
  - jruby-head

matrix:
  allow_failures:
    - rvm: ruby-head
    - rvm: jruby-head
    - rvm: rbx-19mode
